@using Personel_Departman_MVC.Models.Entity
@model IEnumerable<Departman>



<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">DEPARTMAN</th>
            <th scope="col">SİL</th>
            <th scope="col">GÜNCELLE</th>
            <th scope="col">DETAYLAR</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var datas in Model)
        {
            <tr>
                <th scope="row">@datas.Id</th>
                <td>@datas.DepartmanName</td>
                <td>

                    <form method="get" asp-controller="Departman" asp-action="Delete" asp-route-id="@datas.Id" onsubmit="return confirm('Silmek istediğine emin misin, tüm personeller de beraberinde silinecek?');">
                        <input type="hidden" name="Id" value="@datas.Id">
                        <button class="btn btn-danger" type="submit" >Sil</button>
                    </form>

                   
                </td>
                <td>
                    <form method="get" asp-controller="Departman" asp-action="Update" asp-route-id="@datas.Id">
                        <button class="btn btn-success" type="submit">Güncelle</button>
                    </form>

                </td>
                <td>

                    <form method="get" asp-controller="Departman" asp-action="Details" asp-route-id="@datas.Id">
                        <button class="btn btn-warning" type="submit">Detaylar</button>
                    </form>

     
                </td>
            </tr>
        }
        
    </tbody> 
</table>

<a asp-controller="Departman" asp-action="Newdepartman" class="btn btn-secondary"> Yeni Departman </a>